*{
    box-sizing: border-box;
    font-family: Montserrat;
}

.headcontainer{
    height: 700px;
    width: 100%;
  
}
.container{
    height: 600px;
    width:100%;
    background-image: url("./images/hero-cover.3.png");
    background-size:cover;
    align-items: center;
    justify-content: center;

}
.container :nth-child(4){
    align-items: center;
    justify-content: center;
}
.topnav{
    width:100%;
    display: flex;
  
    justify-content: space-evenly;

    

}
.nav a{
    color: white;
    font-family: monserrat;
    margin: 10px;
    
}
h1{
    color: white;
    font-family: monserrat, sans-serif;
    font-weight: bold;
    font-size:20px;
    margin: 0px;
}
.log a{
    font-family: monserrat, sans-serif;
    margin: 0px;
    color: white;
    margin-right: 5px;

    
}
.log button{
    color: white;
    background-color: #23A6F0;
    padding: 5px;
    height: 1cm;

}

#on{
    background-color:#23A6F0 ;
    border-radius: 10px;
    padding: 5px;
    height: 1cm;
    color: white;
    border-color: white;
    width: 4cm;
    border-radius: 20px;
    align-items: center;

}
#off{
    background-color: #23A6F0;
    color: white;
    border-radius: 20px;
    height: 1cm;
    width: 4cm;
    padding: 10px;
    border-color: white;
    box-shadow: none;
    
}