.headcontainer{
    height: 700px;
    width: 100%;
    background-color: #FAFAFA;
}
.container{
    height: 600px;
    width:100%;
    background-image: url("./images/hero-cover.3.png");
    background-size:cover;
}
.topnav{
    width:100%;
    display: flex;
    justify-content: space-evenly;

}
.nav a{
    color: white;
    font-family: monserrat;
    margin: 10px;
    padding-top: 30px;
}
h1{
    color: white;
    font-family: monserrat, sans-serif;
    font-weight: bold;
    padding: -10px;
    font-size: small;
}